In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-07-11 21:30:34,-9.8000,-139.0333,77.41,75,28,15.97
1,1,Aklavik,CA,2022-07-11 21:33:56,68.2191,-135.0107,62.60,88,75,5.75
2,2,Arman,RU,2022-07-11 21:33:56,59.7000,150.1667,63.03,72,19,3.91
3,3,Lebu,CL,2022-07-11 21:33:14,-37.6167,-73.6500,48.45,74,75,13.44
4,4,Butaritari,KI,2022-07-11 21:33:57,3.0707,172.7902,82.13,80,100,16.84

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
plt.savefig("weather_data/heat_map")
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
plt.savefig("weather_data/humidity_map")
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
plt.savefig("weather_data/cloud_map")
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
plt.savefig("weather_data/wind_map")
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [41]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-07-11 21:30:34,-9.8000,-139.0333,77.41,75,28,15.97
4,4,Butaritari,KI,2022-07-11 21:33:57,3.0707,172.7902,82.13,80,100,16.84
16,16,Avarua,CK,2022-07-11 21:31:50,-21.2078,-159.7750,77.05,61,75,11.50
25,25,Albany,US,2022-07-11 21:31:02,42.6001,-73.9662,89.17,41,2,6.04
28,28,Kapaa,US,2022-07-11 21:34:03,22.0752,-159.3190,82.72,73,100,16.11
29,29,Tateyama,JP,2022-07-11 21:34:04,34.9833,139.8667,79.11,87,100,2.75
30,30,Alofi,NU,2022-07-11 21:34:04,-19.0595,-169.9187,75.09,83,40,5.75
32,32,Auki,SB,2022-07-11 21:31:53,-8.7676,160.7034,81.18,74,13,3.22
35,35,Honiara,SB,2022-07-11 21:34:06,-9.4333,159.9500,81.21,74,8,4.21
36,36,Mitu,CO,2022-07-11 21:34:06,1.1983,-70.1733,76.98,95,86,1.79

In [42]:
preferred_cities_df.count()

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Atuona      PF     77.41  -9.8000 -139.0333
4   Butaritari      KI     82.13   3.0707  172.7902
16      Avarua      CK     77.05 -21.2078 -159.7750
25      Albany      US     89.17  42.6001  -73.9662
28       Kapaa      US     82.72  22.0752 -159.3190
29    Tateyama      JP     79.11  34.9833  139.8667
30       Alofi      NU     75.09 -19.0595 -169.9187
32        Auki      SB     81.18  -8.7676  160.7034
35     Honiara      SB     81.21  -9.4333  159.9500
36        Mitu      CO     76.98   1.1983  -70.1733

In [44]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

hotel_df.head(10)

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,77.41,-9.8000,-139.0333,Villa Enata
4,Butaritari,KI,82.13,3.0707,172.7902,Isles Sunset Lodge
16,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
25,Albany,US,89.17,42.6001,-73.9662,
28,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Tateyama,JP,79.11,34.9833,139.8667,Tateyama Seaside Hotel
30,Alofi,NU,75.09,-19.0595,-169.9187,Taloa Heights
32,Auki,SB,81.18,-8.7676,160.7034,Auki Motel
35,Honiara,SB,81.21,-9.4333,159.9500,Heritage Park Hotel
36,Mitu,CO,76.98,1.1983,-70.1733,

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))