## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,3,Arraial Do Cabo,BR,80.56,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,6,Hithadhoo,MV,83.39,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,7,Rikitea,PF,68.14,light rain,-23.1203,-134.9692,People ThankYou
3,10,Pathein,MM,77.67,overcast clouds,16.7833,94.7333,Pathein Hotel
4,11,Morwa,IN,78.37,light rain,22.9000,73.8333,mahakali maa hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description}</dd> 
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# 4b. Display the figure
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Aljezur']
vacation_end = vacation_df.loc[vacation_df['City']=='Aljezur']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Carcavelos']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Lata'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Barcelos'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
329,604,Barcelos,PT,84.92,scattered clouds,41.5388,-8.6151,Hotel Restaurante Bagoeira

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Aljezur = start
Carcavelos = stop1
Lata = stop2
Barcelos = stop3 
roadtrip = gmaps.directions_layer(Aljezur,Aljezur, 
                                  waypoints=[Carcavelos, Lata, Barcelos],
                                  travel_mode="DRIVING")

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,523,Aljezur,PT,72.77,clear sky,37.3191,-8.8033,Amazigh Hostel
1,628,Carcavelos,PT,83.44,clear sky,38.6911,-9.3222,Riviera Hotel
2,516,Lata,PT,79.07,scattered clouds,40.1629,-8.3327,Casa Maquia
3,604,Barcelos,PT,84.92,scattered clouds,41.5388,-8.6151,Hotel Restaurante Bagoeira

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))